@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  color: hsl(0, 0%, 100%);
}

body {
  background-image: url("../assets/images/pattern-squiggly-line-top.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/pattern-lines.svg"), url("../assets/images/pattern-squiggly-line-bottom.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/background-mobile.png");
  background-repeat: no-repeat;
  background-position: right 22px, -17px -25px, center, left bottom, 115% 58%, right bottom;
  background-size: 100px, 90px, auto, 250px, 110px, cover;
  padding-bottom: 60px;
  min-height: 100vh;
}
body .container {
  width: 100%;
  padding: 1rem;
}
body .title {
  text-align: center;
  margin: 10px 0 15px 0;
}
body .title svg {
  width: 150px;
}
body header {
  padding: 7px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
body header h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
}
body header p {
  font-size: 16px;
  font-weight: 400;
  padding: 4px 10px;
  color: hsl(252, 6%, 83%);
}
body form {
  width: min(400px, 100%);
  margin: 0 auto;
}
body form .form-group {
  margin-bottom: 1.5rem;
}
body form .form-group .error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 4px;
  display: none;
}
body form .form-group .error p {
  color: hsl(7, 88%, 67%) !important;
  font-size: 0.7rem;
}
body form .form-group .error svg path {
  stroke: hsl(7, 88%, 67%);
}
body form .form-group .error-1 {
  display: flex;
}
body form .form-group .error-1 p {
  color: hsl(0, 0%, 100%) !important;
}
body form .form-group .error-1 svg path {
  stroke: hsl(0, 0%, 100%) !important;
}
body form .form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
body form .form-group input::-moz-placeholder {
  color: hsl(252, 6%, 83%);
  font-weight: 500;
}
body form .form-group input::placeholder {
  color: hsl(252, 6%, 83%);
  font-weight: 500;
}
body form .form-group .input-wrapper {
  width: 100%;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 12px;
}
body form .form-group .input-wrapper input[type=text] {
  width: 100%;
  margin: 2px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: inherit;
  color: hsl(0, 0%, 100%) !important;
  background: transparent;
  font-size: 16px;
  outline: none;
  font-weight: 500;
  border: 1px solid none;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}
body form .form-group .input-wrapper input[type=text]:focus {
  border-color: hsl(252, 6%, 83%);
  background: hsl(249, 42%, 19%);
  filter: opacity(0.8);
}
body form .form-group .input-wrapper .upload-avatar {
  border: 1px dashed hsl(252, 6%, 83%);
  background: hsl(249, 42%, 19%);
  width: 100%;
  cursor: pointer;
  margin: 2px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
body form .form-group .input-wrapper .upload-avatar:hover {
  filter: opacity(0.7);
}
body form .form-group .input-wrapper .upload-avatar:active {
  filter: opacity(1);
  border: 1px solid hsl(252, 6%, 83%);
}
body form .form-group .input-wrapper .upload-avatar input {
  display: none;
}
body form .form-group .input-wrapper .upload-avatar .upload-icon {
  width: 50px;
  height: 48px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background: hsl(245, 19%, 35%);
  border: 1px solid hsl(245, 15%, 58%);
  border-radius: 10px;
  cursor: pointer;
}
body form .form-group .input-wrapper .upload-avatar .upload-icon svg {
  position: absolute;
  margin: auto;
  inset: 0;
}
body form .form-group .input-wrapper .upload-avatar .upload-icon img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  display: none;
}
body form .form-group .input-wrapper .upload-avatar .instruction {
  margin-top: 10px;
  font-size: 1rem;
}
body form .form-group .input-wrapper:has(input[type=text]) {
  border: 1px solid hsl(252, 6%, 83%);
  background: hsl(249, 42%, 19%);
  filter: opacity(0.8);
  transition: all 0.3s ease-in-out;
}
body form .form-group .input-wrapper:has(input[type=text]):hover {
  background: hsl(245, 19%, 35%);
}
body form .form-group .input-wrapper:has(input[type=text]:focus) {
  background: transparent;
}
body form .form-group .input-wrapper:has(input[type=file]) {
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
body form .form-group .input-wrapper:has(input[type=file]:hover) {
  border-color: hsl(252, 6%, 83%);
}
body form .form-group .input-wrapper:has(input[type=file]:focus) {
  border-color: hsl(252, 6%, 83%);
}
body form .form-group .input-wrapper:has(button[type=submit]) {
  background-color: hsl(7, 88%, 67%);
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
body form .form-group .input-wrapper:has(button[type=submit]:focus) {
  border-color: hsl(0, 0%, 100%);
  background: transparent;
}
body form .error-wrapper {
  padding: 0 !important;
}
body form .error-wrapper input {
  border: 1px solid hsl(7, 88%, 67%) !important;
  margin: 0 !important;
}
body form .form-group:first-child #remove-change-buttons {
  display: none;
}
body form .form-group:first-child #remove-change-buttons button {
  padding: 7px 11px 4px 11px;
  border: none;
  border-radius: 6px;
  background: hsl(245, 19%, 35%);
  cursor: pointer;
}
body form .form-group:first-child #remove-change-buttons button:hover {
  text-decoration: underline;
}
body form .form-group:first-child.uploaded button {
  display: inline;
}
body form .form-group:last-child button {
  width: 100%;
  padding: 11px 10px;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: hsl(248, 70%, 10%);
  font-weight: 900;
  margin: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
body form .form-group:last-child button:focus {
  background-color: hsl(7, 88%, 67%);
}
body .ticket-container header {
  padding: 10px;
  font-size: 0.9em;
}
body .ticket-container header h1 {
  font-size: 1.8em;
  max-width: 470px;
}
body .ticket-container header h1 .name-group {
  background-image: linear-gradient(to right, hsl(7, 88%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: capitalize;
  color: transparent;
}
body .ticket-container main #notification {
  text-align: center;
  margin: 0 auto 40px auto;
  padding: 0 2px 20px 2px;
  font-size: 1.13em;
  font-weight: 600;
  max-width: 280px;
  line-height: 18px;
}
body .ticket-container main #notification #your-email {
  color: hsl(7, 88%, 67%);
}
body .ticket-container main .ticket {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  gap: auto;
  background-image: url("../assets/images/pattern-ticket.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  max-width: 343px;
  height: 160px;
  padding: 15px;
  border-radius: 7px;
}
body .ticket-container main .main-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 15px;
}
body .ticket-container main .ticket-logo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 4px;
}
body .ticket-container main .ticket-logo svg {
  width: 160px;
}
body .ticket-container main .ticket-logo #ticket-date {
  color: hsl(252, 6%, 83%);
  font-size: 0.8em;
  word-spacing: 2px;
  display: inline-block;
  margin-left: 38px;
}
body .ticket-container main .ticket-main {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  gap: 12px;
}
body .ticket-container main .ticket-main img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 7px;
}
body .ticket-container main .ticket-main #ticket-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2px;
}
body .ticket-container main .ticket-main #ticket-info #ticket-name {
  font-size: 1.1em;
  font-weight: 400;
}
body .ticket-container main .ticket-main #ticket-info span {
  font-size: 0.89em;
  color: hsl(252, 6%, 83%);
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
body .ticket-container main .ticket-main #ticket-info span svg {
  width: 17px;
}
body .ticket-container main .ticket-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
body .ticket-container main .ticket-id span {
  color: hsl(245, 15%, 58%);
  transform: rotate(90deg);
  font-size: 1.3em;
  margin-right: -15px !important;
}

@media (min-width: 425px) {
  body {
    background-position: right 52px, -17px -25px, center, left bottom, 100% 58%, right bottom;
  }
}
@media (min-width: 768px) {
  body {
    background-image: url("../assets/images/pattern-squiggly-line-top.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/pattern-lines.svg"), url("../assets/images/pattern-squiggly-line-bottom.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/background-tablet.png");
    background-size: 190px, 90px, auto, 400px, 170px, cover;
    background-position: right 52px, -17px -25px, center, left bottom, 570px 48%, right bottom;
  }
  body .ticket-container header h1 {
    font-size: 2.2em !important;
  }
  body .ticket-container .ticket {
    margin-top: 100px !important;
  }
  body .ticket-container #notification {
    font-size: 0.8em !important;
  }
}
@media (min-width: 1000px) {
  body {
    background-image: url("../assets/images/pattern-squiggly-line-top.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/pattern-lines.svg"), url("../assets/images/pattern-squiggly-line-bottom.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/background-desktop.png");
    background-size: 290px, 90px, auto, 500px, 200px, cover;
    background-position: right 65px, -17px -25px, center, left bottom, 700px 54%, right bottom;
  }
  body .title svg {
    width: 160px;
    height: auto;
  }
  body header h2 {
    margin: 25px 0 15px 0;
    font-size: 2.7em;
    padding: 0 20px !important;
    width: 60%;
  }
}
@media (min-width: 1440px) {
  body {
    background-image: url("../assets/images/pattern-squiggly-line-top.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/pattern-lines.svg"), url("../assets/images/pattern-squiggly-line-bottom.svg"), url("../assets/images/pattern-circle.svg"), url("../assets/images/background-desktop.png");
    background-size: 350px, 90px, auto, 600px, 200px, cover;
    background-position: right 65px, -17px -25px, center, left bottom, 905px 55%, right bottom;
  }
  body .title svg {
    width: 160px;
    height: auto;
  }
  body header h2 {
    margin: 25px 0 15px 0;
    font-size: 2.7em;
    padding: 0 20px !important;
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */