// importing assets
@import "assets";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  color: $neutral-0;
}

body {
  @include body-bg-image("../assets/images/background-mobile.png");
  background-repeat: no-repeat;
  background-position: right 22px, -17px -25px, center, left bottom, 115% 58%,
    right bottom;
  background-size: 100px, 90px, auto, 250px, 110px, cover;
  padding-bottom: 60px;
  min-height: 100vh;
  .container {
    width: 100%;
    padding: 1rem;
  }
  .title {
    text-align: center;
    margin: 10px 0 15px 0;
    svg {
      width: 150px;
    }
  }
  header {
    padding: 7px;
    text-align: center;
    margin-bottom: 20px;
    @include flex-center(column, center, center, 0);
    h2 {
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      padding: 4px 10px;
      color: $neutral-300;
    }
  }
  form {
    width: min(400px, 100%);
    margin: 0 auto;
    .form-group {
      margin-bottom: 1.5rem;
      .error {
        @include flex-center(row, center, flex-start, 10px);
        margin-top: 4px;
        display: none;
        p {
          color: $orange-500 !important;
          font-size: 0.7rem;
        }
        svg path {
          stroke: $orange-500;
        }
      }
      .error-1 {
        display: flex;
        p {
          color: $neutral-0 !important;
        }
        svg path {
          stroke: $neutral-0 !important;
        }
      }
      label {
        display: block;
        margin-bottom: 10px;
        font-size: $label-font-size;
      }
      input::placeholder {
        color: $neutral-300;
        font-weight: 500;
      }
      .input-wrapper {
        width: 100%;
        padding: 1px;
        @include flex-center(row, center, center, 0);
        border-radius: 12px;
        input[type="text"] {
          width: 100%;
          margin: 2px;
          padding: 12px;
          border: 1px solid transparent;
          border-radius: inherit;
          color: $neutral-0 !important;
          background: transparent;
          font-size: 16px;
          outline: none;
          font-weight: 500;
          border: 1px solid none;
          transition: border-color 0.3s ease-in-out;
          cursor: pointer;
          &:focus {
            border-color: $neutral-300;
            background: hsl(249, 42%, 19%);
            filter: opacity(0.8);
          }
        }

        .upload-avatar {
          border: 1px dashed $neutral-300;
          background: hsl(249, 42%, 19%);
          // filter: opacity(0.7);
          width: 100%;
          cursor: pointer;
          margin: 2px;
          border-radius: 8px;
          padding: 20px;
          @include flex-center(column, center, center, 0.5rem);
          &:hover {
            filter: opacity(0.7);
          }
          &:active {
            filter: opacity(1);
            border: 1px solid $neutral-300;
          }
          input {
            display: none;
          }
          .upload-icon {
            width: 50px;
            height: 48px;
            @include bg-image("");
            position: relative;
            // @include flex-center(row, center, center, 0);
            background: $neutral-700;
            border: 1px solid $neutral-500;
            border-radius: 10px;
            cursor: pointer;
            svg {
              position: absolute;
              margin: auto;
              inset: 0;
            }
            img {
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: inherit;
              display: none;
            }
          }
          .instruction {
            margin-top: 10px;
            font-size: 1rem;
          }
        }
      }
      .input-wrapper:has(input[type="text"]) {
        border: 1px solid $neutral-300;
        background: hsl(249, 42%, 19%);
        filter: opacity(0.8);
        transition: all 0.3s ease-in-out;
        &:hover {
          background: $neutral-700;
        }
      }
      .input-wrapper:has(input[type="text"]:focus) {
        background: transparent;
      }
      .input-wrapper:has(input[type="file"]) {
        border: 1px solid transparent;
        transition: border-color 0.3s ease-in-out;
      }
      .input-wrapper:has(input[type="file"]:hover) {
        border-color: $neutral-300;
      }
      .input-wrapper:has(input[type="file"]:focus) {
        border-color: $neutral-300;
      }
      .input-wrapper:has(button[type="submit"]) {
        background-color: $orange-500;
        border: 1px solid transparent;
        transition: border-color 0.3s ease-in-out;
      }
      .input-wrapper:has(button[type="submit"]:focus) {
        border-color: $neutral-0;
        background: transparent;
      }
    }
    .error-wrapper {
      padding: 0 !important;
      input {
        border: 1px solid $orange-500 !important;
        margin: 0 !important;
      }
    }
    .form-group:first-child {
      #remove-change-buttons {
        display: none;
        button {
          padding: 7px 11px 4px 11px;
          border: none;
          border-radius: 6px;
          background: $neutral-700;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .form-group:first-child.uploaded {
      button {
        display: inline;
      }
    }
    .form-group:last-child {
      button {
        width: 100%;
        padding: 11px 10px;
        border: none;
        border-radius: 8px;
        background: transparent;
        color: $neutral-900;
        font-weight: 900;
        margin: 2px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        &:focus {
          background-color: $orange-500;
        }
      }
    }
  }
  .ticket-container {
    header {
      padding: 10px;
      font-size: 0.9em;
      h1 {
        font-size: 1.8em;
        max-width: 470px;
        .name-group {
          background-image: $gradient-text;
          background-clip: text;
          text-transform: capitalize;
          color: transparent;
        }
      }
    }
    main {
      #notification {
        text-align: center;
        margin: 0 auto 40px auto;
        padding: 0 2px 20px 2px;
        font-size: 1.13em;
        font-weight: 600;
        max-width: 280px;
        line-height: 18px;
        #your-email {
          color: $orange-500;
        }
      }
      .ticket {
        @include flex-center(row, left, space-between, auto);
        @include bg-image("../assets/images/pattern-ticket.svg");
        width: 100%;
        margin: 0 auto;
        max-width: 343px;
        height: 160px;
        padding: 15px;
        border-radius: 7px;
      }
      .main-info {
        @include flex-center(column, left, space-between, 15px);
      }
      .ticket-logo {
        @include flex-center(column, left, center, 4px);
        svg {
          width: 160px;
        }
        #ticket-date {
          color: $neutral-300;
          font-size: 0.8em;
          word-spacing: 2px;
          display: inline-block;
          margin-left: 38px;
        }
      }
      .ticket-main {
        width: fit-content;
        @include flex-center(row, left, space-between, 12px);
        img {
          width: 40px;
          height: 40px;
          aspect-ratio: 1/1;
          border-radius: 7px;
        }
        #ticket-info {
          @include flex-center(column, left, center, 2px);
          #ticket-name {
            font-size: 1.1em;
            font-weight: 400;
          }
          span {
            font-size: 0.89em;
            color: $neutral-300;
            text-align: left;
            @include flex-center(row, center, left, 10px);
            svg {
              width: 17px;
            }
          }
        }
      }
      .ticket-id {
        @include flex-center(row, center, center, 0);
        position: relative;
        span {
          color: $neutral-500;
          transform: rotate(90deg);
          font-size: 1.3em;
          margin-right: -15px !important;
        }
      }
    }
  }
}

@media (min-width: 425px) {
  body {
    background-position: right 52px, -17px -25px, center, left bottom, 100% 58%,
      right bottom;
  }
}

@media (min-width: 768px) {
  body {
    @include body-bg-image("../assets/images/background-tablet.png");
    background-size: 190px, 90px, auto, 400px, 170px, cover;
    background-position: right 52px, -17px -25px, center, left bottom, 570px 48%,
      right bottom;
    .ticket-container {
      header {
        h1 {
          font-size: 2.2em !important;
        }
      }
      .ticket {
        margin-top: 100px !important;
      }
      #notification {
        font-size: .8em !important;
      }
    }
  }
}

@media (min-width: 1000px) {
  body {
    @include body-bg-image("../assets/images/background-desktop.png");
    background-size: 290px, 90px, auto, 500px, 200px, cover;
    background-position: right 65px, -17px -25px, center, left bottom, 700px 54%,
      right bottom;
    .title svg {
      width: 160px;
      height: auto;
    }
    header {
      h2 {
        margin: 25px 0 15px 0;
        font-size: 2.7em;
        padding: 0 20px !important;
        width: 60%;
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    @include body-bg-image("../assets/images/background-desktop.png");
    background-size: 350px, 90px, auto, 600px, 200px, cover;
    background-position: right 65px, -17px -25px, center, left bottom, 905px 55%,
      right bottom;
    .title svg {
      width: 160px;
      height: auto;
    }
    header {
      h2 {
        margin: 25px 0 15px 0;
        font-size: 2.7em;
        padding: 0 20px !important;
        width: 50%;
      }
    }
  }
}
