// importing assets
@import "assets";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  color: $neutral-0;
}

body {
  background-image: url("../assets/images/background-mobile.png"),
    url("../assets/images/pattern-squiggly-line-bottom.svg"),
    url("../assets/images/pattern-circle.svg");
  background-repeat: no-repeat;
  background-size: cover, cover, cover;
  background-position: center, center, center;

  .container {
    width: 100%;
    padding: 1rem;
  }
  .title{
    text-align: center;
    margin: 10px 0 15px 0;
    svg{
      width: 150px;
    }
  }
  header {
    padding: 7px;
    text-align: center;
    margin-bottom: 20px;
    // border: 1px solid $neutral-300;
    h2 {
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      padding: 4px 10px;
      color: $neutral-300;
    }
  }
  form {
    .form-group {
      margin-bottom: 1rem;
      .error {
        @include flex-center(row, center, flex-start, 10px);
        display: none;
        p {
          color: $orange-500 !important;
          font-size: 0.7rem;
        }
        svg path {
          stroke: $orange-500;
        }
      }
      .error-1 {
        display: flex;
        p {
          color: $neutral-0 !important;
        }
        svg path {
          stroke: $neutral-0 !important;
        }
      }
      .input-wrapper {
        width: 100%;
        padding: 1px;
        @include flex-center(row, center, center, 0);
        border-radius: 12px;
        input[type="text"],
        input[type="email"] {
          width: 100%;
          margin: 2px;
          padding: 10px;
          border: 1px solid transparent;
          border-radius: 8px;
          background-color: transparent;
          color: $neutral-0 !important;
          font-size: 16px;
          outline: none;
          font-weight: 700;
          border: 1px solid none;
          transition: border-color 0.3s ease-in-out;
          cursor: pointer;
          &:focus {
            border-color: $neutral-300;
          }
        }
        label {
          display: block;
          margin-bottom: 10px;
        }
        button {
          width: 100%;
          padding: 13px 10px;
          border: none;
          border-radius: 8px;
          background: $orange-500;
          color: $neutral-900;
          font-weight: 900;
          margin: 2px;
          cursor: pointer;
          font-size: 16px;
        }
        .upload-avatar {
          border: 1px dashed $neutral-300;
          width: 100%;
          margin: 2px;
          border-radius: 8px;
          padding: 15px 20px;
          @include flex-center(column, center, center, 0.5rem);
          input {
            display: none;
          }
          .upload-icon {
            width: fit-content;
            height: auto;
            aspect-ratio: 1;
            @include flex-center(row, center, center, 0);
            background: $neutral-700;
            border: 1px solid $neutral-500;
            padding: 6px;
            border-radius: 10px;
          }
          .instructon{
            font-size: .9rem;
          }
        }
      }
      .input-wrapper:has(input[type="text"], input[type="email"]) {
        border: 1px solid $neutral-0;
      }
      .input-wrapper:has(button),
      .input-wrapper:has(input[type="file"]) {
        border: 1px solid transparent;
        transition: border-color 0.3s ease-in-out;
      }
      .input-wrapper:has(button:focus) {
        border-color: $neutral-0;
      }
    }
  }
}
